Data_Ingestion_External_v2.json
{
  "name": "Data_Ingestion_External_v2",
  "nodes": [
    {
      "parameters": {
        "content": "## W2 Assignment: External PDF Ingestion\n\n**Goal:** Ingest external market report PDFs into Pinecone.\n\n1) Create a Google Drive folder: `NovaCart_Assignment_External_Reports`\n2) Upload the market report PDFs into it\n3) In node **Google Drive (List)** set Folder ID to that folder\n4) Pinecone index: `novacart-finance-assignment`\n5) Pinecone namespace: `external`\n\nThen execute this workflow to ingest.\n",
        "height": 1300,
        "width": 2472,
        "color": 2
      },
      "id": "2414d6c5-0985-40f2-9d61-e59e2eb932cd",
      "name": "Sticky Note (Setup)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        0
      ],
      "id": "72ed3b0b-b003-4a52-8cab-cb0b85750b67",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "10PsfmaWPgH7hzv4fswYg7cJXSRMriLQ9",
            "mode": "list",
            "cachedResultName": "Novacart_n8n_External",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10PsfmaWPgH7hzv4fswYg7cJXSRMriLQ9"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        0
      ],
      "id": "b1d9723f-71c3-4086-a573-d6bd28b42493",
      "name": "Google Drive (List)1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y4wb1QuAeL63fOiv",
          "name": "Google JattaAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        0
      ],
      "id": "002fe600-3ff3-428f-b13a-2dc652ed4b65",
      "name": "Google Drive (Download)1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y4wb1QuAeL63fOiv",
          "name": "Google JattaAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        176
      ],
      "id": "aa4838ce-9217-47dd-9315-b35a6eda0d96",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VScJn7R0SgP6BpHi",
          "name": "novacart-openai-jattaai"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nova-cart-n8n",
          "mode": "list",
          "cachedResultName": "nova-cart-n8n"
        },
        "options": {
          "pineconeNamespace": "ext-market-reports"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        736,
        -48
      ],
      "id": "d6cc15de-9bff-4bc9-83ba-25f5d18731c5",
      "name": "Pinecone Vector Store (Docs)1",
      "credentials": {
        "pineconeApi": {
          "id": "3bc0nsB7FjutjGWP",
          "name": "novacart-pinecone-jattaai"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_type",
                "value": "external_report"
              },
              {
                "name": "drive_file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "drive_url",
                "value": "={{ $json.webViewLink || $json.alternateLink || $json.url || \"\" }}"
              },
              {
                "name": "mime_type",
                "value": "={{ $json.mimeType }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        176
      ],
      "id": "5401dc64-b68a-437b-bcbd-ad02d8cce19d",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        368
      ],
      "id": "ca912be5-0af1-4602-8fd4-9919147f3d16",
      "name": "Recursive Character Text Splitter (Docs)1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Google Drive (List)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (List)1": {
      "main": [
        [
          {
            "node": "Google Drive (Download)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive (Download)1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store (Docs)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Docs)1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store (Docs)1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter (Docs)1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "78b3cd32-aabb-4a2f-938e-ea552996676b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e5670386fb27fff3f1086187285fc91d1c11d4e4aff893cfb79670ff5ab150a"
  },
  "id": "f3fJ8SJL2nuL1LX0",
  "tags": []
}