Data_Ingestion_External_Pdfworkaround_V3.json
{
  "name": "Data_Ingestion_External_Pdfworkaround_V3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        32
      ],
      "id": "249138cf-ac9e-4b2c-8523-a0dadafcbc36",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "10PsfmaWPgH7hzv4fswYg7cJXSRMriLQ9",
            "mode": "list",
            "cachedResultName": "Novacart_n8n_External",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10PsfmaWPgH7hzv4fswYg7cJXSRMriLQ9"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        32
      ],
      "id": "c91616dc-0214-446c-b995-1b95652f1dd7",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y4wb1QuAeL63fOiv",
          "name": "Google JattaAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        32
      ],
      "id": "31463865-5eef-4a0d-92f7-2cd3d1ac7534",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Y4wb1QuAeL63fOiv",
          "name": "Google JattaAI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8db114da-7847-42ef-90bf-172c22720449"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f88f4a4e-9877-48d8-ad87-c6c7aed6f11d",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        32
      ],
      "id": "dfee5701-da5c-437b-99ea-5212214c5e3a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "785ae59d-8425-4734-9091-faca40d7fd17",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nova-cart-n8n",
          "mode": "list",
          "cachedResultName": "nova-cart-n8n"
        },
        "options": {
          "pineconeNamespace": "ext-market-reports"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        16
      ],
      "id": "b1f0478a-ffff-48cd-bb02-3c227b71ba59",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3bc0nsB7FjutjGWP",
          "name": "novacart-pinecone-jattaai"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        256
      ],
      "id": "774bb771-1bc8-4fd1-b01e-cd0ceaa49f30",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VScJn7R0SgP6BpHi",
          "name": "novacart-openai-jattaai"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        224
      ],
      "id": "0739c0e9-0a2a-4dab-9a80-b27d5a8c2897",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        432
      ],
      "id": "4818092e-b958-44a4-b353-99fb0be643a4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nova-cart-n8n",
          "mode": "list",
          "cachedResultName": "nova-cart-n8n"
        },
        "options": {
          "pineconeNamespace": "ext-market-reports"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -64,
        256
      ],
      "id": "18c1d9f4-ac3d-4cb1-8a7b-82fbffbf7cc4",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3bc0nsB7FjutjGWP",
          "name": "novacart-pinecone-jattaai"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        512
      ],
      "id": "8c39c49d-f548-4b50-8611-e889115ed80b",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VScJn7R0SgP6BpHi",
          "name": "novacart-openai-jattaai"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        64,
        464
      ],
      "id": "d0150a20-3978-43d2-865f-ec54a1c2d16c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        144,
        672
      ],
      "id": "9c4e5bb0-1be3-4b9d-b0c4-300af12f4493",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7552f543-3855-4e89-9c9a-ca40b57ba43b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e5670386fb27fff3f1086187285fc91d1c11d4e4aff893cfb79670ff5ab150a"
  },
  "id": "0YNu0PmTSSNm4GhE",
  "tags": []
}